In [45]:
import numpy as np
import pandas  as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [46]:
dt= pd.read_csv("house prices.csv")
dt.head()

   area  bedroom   price
0  1056        2   39.07
1  2600        4  120.00
2  1440        3   62.00
3  1521        3   75.00
4  1200        2   51.00

In [95]:
from sklearn import preprocessing
sx= preprocessing.MinMaxScaler()
sy= preprocessing.MinMaxScaler()

scaled_x= sx.fit_transform(dt.drop('price', axis='columns'))
scaled_y= sy.fit_transform(dt['price'].values.reshape(dt.shape[0],1))

In [88]:
def batch_gradient_desent(x, y_true, epochs, learning_rate=0.01):
    no_feature= x.shape[1]
    w= np.ones(shape=(no_feature))
    b=0
    total_sample= x.shape[0]
    
    cost_list=[]
    epoch_list=[]
    
    for i in range(epochs):
        y_predict=np.dot(w,scaled_x.T)+b #weighted sum
        
        w_grad= (2/total_sample*(x.T.dot(y_true-y_predict)))#derivation
        b_grad= (2/total_sample*np.sum(y_true-y_predict))
        
        w= w-learning_rate*w_grad
        b= b-learning_rate*b_grad
        
        cost=np.mean(np.square(y_true-y_predict))
        
        if i%10==0:
            cost_list.append(cost)
            epoch_list.append(i)
        return w,b, cost, cost_list, epoch_list
    
w,b,cost,cost_list,epoch_list= batch_gradient_desent(scaled_x,scaled_y.reshape(scaled_y.shape[0],),500)
w,b,cost

(array([1.00448683, 1.00554345]), 0.009603223499361428, 0.2768777174681)

In [89]:
def predict(area,bedroom, w,b):
    scaled_x= sx.transform([[area,bedroom]])[0]
    
    scaled_price= w[0]*scaled_x[0]+w[1]*scaled_x[1]+b
    return sy.inverse_transform([[scaled_price]])[0][0]


predict(1521,3,w,b)

C:\Users\talha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

134.88500578604112