In [42]:
import pandas
dt=pandas.read_csv('email.csv')
dt=dt[['Identifier','First name','Last name','Login email']]
dt['Names']=dt['First name']+dt['Last name']
dt.drop(columns=['First name','Last name'], inplace = True)

dt

   Identifier         Login email         Names
0        2070      laura@that.com     LauraGrey
1        4081      craig@this.com  CraigJohnson
2        9346      mary@which.com   MaryJenkins
3        5079  jamie@somethin.com    JamieSmith