In [157]:
import pandas
from  sklearn.linear_model import LinearRegression
dt=pandas.read_csv('mldata2.csv')
dt

     age  weight  gender likeness   height
0     27    76.0    Male  Biryani  170.688
1     41    70.0    Male  Biryani      165
2     29    80.0    Male  Biryani      171
3     27   102.0    Male  Biryani      173
4     29    67.0    Male  Biryani      164
..   ...     ...     ...      ...      ...
240   31    60.0    Male   Pakora      160
241   26    70.0    Male  Biryani      172
242   40    80.0    Male  Biryani      178
243   25    65.0    Male  Biryani      5.7
244   33    56.0  Female   Samosa      157

[245 rows x 5 columns]

In [158]:
dt['gender']= dt['gender'].replace('Male',1)
dt['gender']=dt['gender'].replace('Female',0)

In [159]:
x=dt[['weight','gender']]
y=dt['likeness']
from sklearn.model_selection import train_test_split
inp_x,tst_x,out_y,tst_y=train_test_split(x,y, test_size=0.2)

In [160]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()
model.fit(inp_x,out_y)

DecisionTreeClassifier()

In [161]:
pred_y= model.predict(tst_x)

In [162]:
#Checking accuracy score
from sklearn.metrics import accuracy_score
score= accuracy_score(tst_y,pred_y)
score

0.6326530612244898

In [163]:
#this how to graph a decisioln tree classifier what is working behind the decision tree classifier
model= DecisionTreeClassifier().fit(x,y)