In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset=pd.read_csv('Mall_Customers.csv')
dataset.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [13]:
X = dataset.iloc[:, [3, 4]].values
X.shape

(200, 2)

In [20]:
m=X.shape[0] #number of training examples
n=X.shape[1] #number of features. Here n=2n_iter=100

n

2